* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

header {
    background-color: rgba(238, 238, 238, 0.541);
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 99999999;
    backdrop-filter: blur(10px)
}

header ul {
    display: flex;
    list-style: none;
}

header ul li a{
    padding: 20px 20px;
    display: block;
    text-decoration: none;
    color: black;
    transition: .3s letter-spacing;
    -webkit-transition: .3s letter-spacing;
    -moz-transition: .3s letter-spacing;
    -ms-transition: .3s letter-spacing;
    -o-transition: .3s letter-spacing;
}

header ul li:hover a{
    letter-spacing: 1.8px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.inline {
    display: inline;
}

div.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

div form {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 20%;
    min-width: 270px;
    box-shadow: -15px 15px 0px 0px #e6e6e6;
    animation: shadow 2s infinite alternate;
    -webkit-animation: shadow 2s infinite alternate ease-in-out;
}

@keyframes shadow {
    from {
        box-shadow: -15px 15px 0px 0px #e6e6e6;
    }
    to {
        box-shadow: -25px 25px 0px 0px #e6e6e6;
    }
}

legend {
    text-align: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 15px 0 20px;
}

div.sub {
    padding: 5px 10px;
}

label {
    display: block;
    font-family: system-ui;
}

input[type="submit"] {
    height: 40px;
    background: #3bc7ff;
    border: 0;
    border-radius: 7px;
    color: white;
    font-family: system-ui;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 20px 0 10px;
}

input[type="submit"]:hover {
    background: #1daae1;
}

input[type]:not([type="checkbox"]) {
    width: 100%;
}

input[type]:not([type="checkbox"]):not([type="submit"]) {
    border: 0;
    border-bottom: 1px solid;
    background: transparent;
    line-height: 25px;
    font-size: 15px;
    font-family: system-ui;
    margin: 5px 0 5px;
}

input[type]:not([type="checkbox"]):not([type="submit"]):focus {
    outline: 0;
    border-color: rgb(0, 123, 255);
}